$primary-100: #1F0F39;
$primary-200: #380C7E;
$primary-300: #6E01F8;
$primary-400: #7000FF;
$primary-dark: #11002D;

$custom-colors: (
  'primary-100': $primary-100,
  'primary-200': $primary-200,
  'primary-300': $primary-300,
  'primary-400': $primary-400,
  'primary-dark': $primary-dark,
);


// 合併到色彩設定
$theme-colors: map-merge($theme-colors, $custom-colors);
