$primary-100: #1F0F39;
$primary-200: #380C7E;
$primary-300: #6E01F8;
$primary-400: #7000FF;
$primary-dark: #11002D;

$custom-colors: (
  $primary-100: #1F0F39,
  $primary-200: #380C7E,
  $primary-300: #6E01F8,
  $primary-400: #7000FF,
  $primary-dark: #11002D
);

$theme-colors: map-merge($theme-colors, $custom-colors);
