.w-416 {
  width: 416px;
  // max-width: 416px;
}

.h-676 {
  height: 676px;
}
.h-580 {
  height: 580px;
}
.object-cover {
  object-fit: cover;
}
.bgs-cover {
  background-size: cover;
}
.bgp-center {
  background-position: top;
}