<footer class="py-12">
  <div class="container">
    <div class="d-lg-flex justify-content-between align-items-center">
      <div>
        <p class="fs-4 font-shrik">ALPHABOX+</p>
        <p class="d-none d-lg-block">Copyright © 2023 Hexschool.</p>
      </div>
      <div>
        <span class="material-symbols-outlined" style="font-size: 80px;">
        emergency
        </span>
      </div>
      <ul class="d-lg-flex list-unstyled">
        <li>
          <a class="d-inline-block py-2 py-lg-0 px-lg-3 link-dark" href="#">
            關於我們
          </a>
        </li>
        <li>
          <a class="d-inline-block py-2 py-lg-0 px-lg-3 link-dark" href="#">
            產品資訊
          </a>
        </li>
        <li>
          <a class="d-inline-block py-2 py-lg-0 px-lg-3 link-dark" href="#">
            常見問題
          </a>
        </li>
        <li>
          <a class="d-inline-block py-2 py-lg-0 ps-lg-3 link-dark" href="#">
            隱私政策
          </a>
        </li>
      </ul>
      <p class="d-block d-lg-none">Copyright © 2023 Hexschool.</p>
    </div>
  </div>
</footer>