
.navbar-bg {
  @include gradient-radial($primary-400, $primary-dark);
}
.sub-btn {
  @include button-variant($white, $white);
  color: $black;
  &:hover {
    background-color: $black;
    border-color: $black;
    color: $white;
  }
}