.contact-bg {
  background-color: $primary-100;
}
.line {
  width: 124px;
  border: 6px solid $white;
  border-radius: 12px;
}
.news {
  @include gradient-radial(#28085C, $black);
}
.banner {
  @include gradient-radial($primary-400, $primary-dark);
  .banner-transform-top {
    transform: translateY(104px);
    margin-top: -104px;
    z-index: 20;
  }
  .copy-color {
    color: #AD93CF;
  }
  .minus-margin {
    margin-left: -16.66666667%;
  }
}
.what-us {
  overflow: hidden;
  z-index: 10;
  background-color: #000;
  @include gradient-radial(#300871, $black);
  &::before {
    z-index: -1;
    width: 50%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    filter: blur(12px);
    background-position: center;
    background-image: url(../images/hand-take-phone.png);
  }
  .rec-1 {
    height: 40px;
    @include gradient-x($primary-400, $primary-dark)
  }
  .rec-2 {
    height: 40px;
    @include gradient-x($primary-dark, $primary-400)
  }
  .blur-img {
    filter: blur(0px);
    z-index: 0;
  }
}

.sw-left, .sw-right {
  width: 180px;
  height: 48px;
  background-repeat: no-repeat;
  @include media-breakpoint-down(xxl) { display: none; }
}
.sw-left {
  background-image: url(../assets/images/line_start_arrow_notch.svg) !important;
  &.swiper-button-prev {
    position: inherit;
    &::after {
      content: ''
    }
  }
}
.sw-right {
  background-image: url(../assets/images/line_end_arrow_notch.svg) !important;
  &.swiper-button-next {
    position: inherit;
    &::after {
      content: ''
    }
  }
}
.what-section-swiper {
  position: relative;
  z-index: 200;
  height: 560px;
  .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
} 
.use-exp {
  @include gradient-radial($black, #28085C);
  &-text {
    font-size: 128px;
    color: rgba(255, 255, 255, 0.04);
    transform: translate(-10%, 50%);
    left: 0;
    bottom: 0;
    @include media-breakpoint-up(lg) {
      font-size: 400px;
    }
  }
  .swiper-slide {
    height: 416px;
  }
  .swiper-scrollbar-drag {
    background-color: #fff;
  }
  .swiper-scrollbar {
    background-color: rgba(255, 255, 255, 0.20);;
  }
}
