<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="banner pt-lg-14">
      <div class="container-fluid overflow-hidden">
        <img src="../assets/images/circle.png" alt="" width="196">
        <div class="banner-transform-top">
          <div class="d-flex justify-content-center">
          <div class="align-self-end">
            <a class="d-block mb-14">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
            <div class="w-416 h-676 bgp-center bgs-cover" style="background-image: url(../assets/images/diane_vertical.png);">
              <p>Diane</p>
            </div>
          </div>
          <div class="text-center align-self-end">
            
            <p class=" fs-3">ALPHABOX+</p>
            <p>擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
            <div class="d-flex">
              <div class="w-416 h-580 bgp-center bgs-cover mx-8" style="background-image: url(../assets/images/felix_vertical.png);"></div>
              <div class="w-416 h-580 bgp-center bgs-cover" style="background-image: url(../assets/images/karina_verticalgle.png);"></div>
            </div>
          </div>
          <div class="align-self-end ms-8">
            <p class="mb-36">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
            <p class="mb-14">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
            <div class="w-416 h-676 bgp-center bgs-cover" style="background-image: url(../assets/images/vito_vertical.png);"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
