<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- banner -->
    <!-- <div class="banner pt-lg-14">
      <div class="container-fluid overflow-hidden banner-transform-top position-relative">
        <div class="d-flex justify-content-center">
          <div class="align-self-end">
            <a class="d-block mb-14 text-white border-bottom pb-2">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
            <div class="w-416 h-676 bgp-center bgs-cover" style="background-image: url(../assets/images/diane.png);">
              <p class="fs-4 text-center pt-4 font-shrik">Diane</p>
            </div>
          </div>
          <div class="text-center align-self-end">
            <img class="mb-14" src="../assets/images/circle.png" alt="" width="196">
            <p class="ls-80 font-shrik fs-4 ps-8">ALPHABOX+</p>
            <p class="mb-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
            <div class="d-flex justify-content-evenly">
              <div class="w-416 h-580 bgp-center bgs-cover" style="background-image: url(../assets/images/felix.png);">
                <p class="fs-4 text-center pt-4 font-shrik">Felix</p>
              </div>
              <div class="w-416 h-580 bgp-center bgs-cover" style="background-image: url(../assets/images/karina.png);">
                <p class="fs-4 text-center pt-4 font-shrik">Karina</p>
              </div>
            </div>
          </div>
          <div class="align-self-end">
            <p class="mb-36 border-top pt-2">ALPHABOX+ STUDIO</p>
            <p class="mb-14 copy-color">Copyright © 2023 Hexschool.</p>
            <div class="w-416 h-676 bgp-center bgs-cover" style="background-image: url(../assets/images/vito.png);">
              <p class="fs-4 text-center pt-4 font-shrik">Vito</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="banner px-lg-20 pt-lg-14">
      <div class="container-fluid banner-transform-top position-relative overflow-hidden">
        <div class="row">
          <div class="col-lg-4 align-self-end position-relative">
            <a class="d-none d-lg-block mb-14 text-white border-bottom pb-2">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
            <div class="d-block d-lg-none mt-7">
              <p class="border-top border-white pt-2 mb-8">ALPHABOX+ STUDIO</p>
              <div class="text-center">
                <img class="mb-14" src="../assets/images/circle.png" alt="circle logo" width="196">
                <p class="ls-26 font-shrik fs-6">ALPHABOX+</p>
                <p class="mb-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
              </div>
            </div>
            <div class="position-relative">
              <img class="img-fluid d-none d-lg-block" src="../assets/images/diane.png" alt="diane">
              <img class="img-fluid d-block d-lg-none mb-4 mb-4" src="../assets/images/diane_square1.png" alt="diane">
              <p class="fs-4 font-shrik position-absolute top-0 start-50 translate-middle-x mt-4">diane</p>              
            </div>
          </div>
          <div class="col-lg-8 align-self-end text-center">
            <div class="d-none d-lg-block">
              <img class="mb-14" src="../assets/images/circle.png" alt="" width="196">
              <p class="ls-lg-20 ls-xl-40 font-shrik fs-4">ALPHABOX+</p>
              <p class="mb-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
            </div>
            <div class="row">
              <div class="col-lg-8 position-relative">
                <div class="position-relative">
                  <img class="img-fluid d-none d-lg-block" src="../assets/images/felix.png" alt="felix">
                  <img class="img-fluid d-block d-lg-none mb-4" src="../assets/images/felix_square1.png" alt="felix">
                  <p class="fs-4 font-shrik position-absolute top-0 start-50 translate-middle-x mt-4">Felix</p>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="position-relative">
                  <img class="img-fluid d-none d-lg-block" src="../assets/images/karina.png" alt="karina">
                  <img class="img-fluid d-block d-lg-none mb-4" src="../assets/images/karina_square1.png" alt="karina">
                  <p class="fs-4 font-shrik position-absolute top-0 start-50 translate-middle-x mt-4">Karina</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 align-self-end">
            <p class="d-none d-lg-block mb-36 border-top pt-2">ALPHABOX+ STUDIO</p>
            <p class="d-none d-lg-block mb-14 copy-color">Copyright © 2023 Hexschool.</p>
            <div class="position-relative">
              <img class="img-fluid d-none d-lg-block" src="../assets/images/vito.png" alt="vito">
              <img class="img-fluid d-block d-lg-none" src="../assets/images/vito_square1.png" alt="vito">
              <p class="fs-4 font-shrik position-absolute top-0 start-50 translate-middle-x mt-4">Vito</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 什麼是 ALPHABOX -->
    <section class="what-us px-lg-20 pt-36 pb-15 pb-lg-13h position-relative">
      <!-- <img class="blur-img position-absolute top-0 left-0 bottom-0 end-50" src="../assets/images/hand-take-phone.png" alt="單手拿著手機"> -->
      <div class="container-fluid"><div class="rec-1 mb-2"></div>
      <h2 class="ls-24 ls-lg-48 mb-lg-12 fs-5 fs-lg-3 mb-5 mb-lg-4">什麼是<br>ALPHABOX+</h2>
      <div class="border border-1 border-white"></div>
        <!-- <img class="custom-button-prev" src="../assets/images/line_start_arrow_notch.svg" alt=""> -->
        <div class="d-flex align-items-center mt-4 mt-lg-8">
          <div class="swiper-button-prev sw-left"></div>
          <div class="container"><div class="swiper what-section-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide d-flex justify-content-lg-end pb-4 pb-lg-0"
              style="background-image: url(../assets/images/hand-take-phone.png); background-position: top;">
                <div class="px-10 d-flex flex-column justify-content-end align-items-start justify-content-lg-center align-items-lg-end">
                  <p class="fs-2 fs-lg-1 font-shrik">01</p>
                  <p class="fs-5 fs-lg-4 mb-2 mb-lg-0">立體投影技術</p>
                  <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </div>
              <div class="swiper-slide d-flex justify-content-lg-end pb-4 pb-lg-0" style="background-image: url(../assets/images/hand.png);">
                <div class="px-10 d-flex flex-column justify-content-end align-items-start justify-content-lg-center align-items-lg-end">
                  <p class="fs-2 fs-lg-1 font-shrik">02</p>
                  <p class="fs-5 fs-lg-4 mb-2 mb-lg-0">立體投影技術</p>
                  <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </div>
              <div class="swiper-slide d-flex justify-content-end pb-4 pb-lg-0" style="background-image: url(../assets/images/box.png);">
                <div class="px-10 d-flex flex-column justify-content-end align-items-start justify-content-lg-center align-items-lg-end">
                  <p class="fs-2 fs-lg-1 font-shrik">03</p>
                  <p class="fs-5 fs-lg-4 mb-2 mb-lg-0">立體投影技術</p>
                  <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </div>
            </div>
          </div></div>
          <div class="sw-right swiper-button-next"></div>
        </div>
        <div class="rec-2 mt-8"></div>
      </div>
    </section>
    <!-- 最新消息 -->
    <section class="news pt-15 pb-20 pt-lg-40 pb-lg-10 fw-bold">
      <div class="container">
        <h2 class="fs-3h fs-lg-3 fw-bold mb-8 mb-lg-10 ls-40 ls-lg-48">最新消息</h2>
        <div class="row g-0">
          <div class="col-lg-16">
            <div class="px-4 py-8 py-lg-10 border-top border-bottom border-white">
              <p>
                <span class="material-symbols-outlined text-white align-middle me-4">
                  emergency
                </span><span class="ls-16">2023.06.30</span>
              </p>
              <p class="fs-6 ls-20 mb-3">
                產品升級公告
              </p>
              <div class="d-flex flex-column flex-lg-row justify-content-between">
                <p class="mb-3 mb-lg-0">
                  榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。
                  <br>歡迎您了解本次升級帶來的更為卓越的性能！
                </p>
                <a href="#">
                  <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="px-4 py-8 py-lg-10 border-top-0 border-bottom border-end-lg border-white h-100">
              <p>
                <span class="material-symbols-outlined text-white align-middle me-4">
                  emergency
                </span><span class="ls-16">2023.06.30</span>
              </p>
              <p class="fs-6 ls-20 mb-3">
                限時優惠活動
              </p>
              <div class="d-flex flex-column">
                <p class="mb-3 mb-lg-0">
                  為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                </p>
                <a href="#">
                  <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="px-4 py-8 py-lg-10 border-top-0 border-bottom border-white h-100">
              <p>
                <span class="material-symbols-outlined text-white align-middle me-4">
                  emergency
                </span><span class="ls-16">2023.04.18</span>
              </p>
              <p class="fs-6 ls-20 mb-3">
                新功能上線
              </p>
              <div class="d-flex flex-column">
                <p class="mb-3 mb-lg-0">
                  為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                </p>
                <a href="#">
                  <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-10 mt-lg-20">
          <img src="../assets/images/more.svg" alt="查看更多">
        </div>
        <p class="d-none d-lg-block text-end mt-24">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
      </div>
    </section>
    <!-- 使用分享 -->
    <section class="use-exp pt-15 pb-20 pt-lg-40 pb-lg-10 overflow-hidden position-relative fw-bold">
      <p class="position-absolute font-shrik use-exp-text">ALPHABOX+</p>
      <div class="container">
        <div class="row align-items-center mb-6 mb-lg-10">
          <div class="col-lg-5">
            <h2 class="fs-3h fs-lg-3 fw-bold">使用分享</h2>
            <p class="mt-4">01 <span class="material-symbols-outlined align-middle">
              horizontal_rule
              </span> 04</p>
          </div>
          <div class="col-lg-7">
            <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
        </div>
        <span class="material-symbols-outlined fs-icon text-white mb-4 mb-lg-6">
          emergency
        </span>
        <ul class="row list-unstyled d-block d-md-none">
          <li class="col-12 mb-6">
            <div class="p-6 bg-primary-200 d-flex flex-column text-white fw-bold">
              <p class="mb-8">Zona <span class="d-inline-block p-1 mx-2 bg-white rounded-circle">
                </span>Taipei
              </p>
              <p class="mb-32">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
              <p><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
              </span><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
              </span>ALPHABOX+ Dianne</p>
            </div>
          </li>
          <li class="col-12 mb-6">
            <div class="p-6 bg-white d-flex flex-column text-black">
              <p class="mb-8">Lin <span class="d-inline-block p-1 mx-2 bg-black rounded-circle">
                </span>Chiayi
              </p>
              <p class="mb-32">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              <p><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
              </span><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
              </span>ALPHABOX+ Felix</p>
            </div>
          </li>
          <li class="col-12 mb-6">
            <div class="p-6 bg-primary-200 d-flex flex-column text-white">
              <p class="mb-8">云 <span class="d-inline-block p-1 mx-2 bg-white rounded-circle">
                </span>Taipei
              </p>
              <p class="mb-32">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              <p><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
              </span><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
              </span>ALPHABOX+ Dianne</p>
            </div>
          </li>
          <li class="col-12 mb-6">
            <div class="p-6 bg-white d-flex flex-column text-black">
              <p class="mb-8">Zichi <span class="d-inline-block p-1 mx-2 bg-black rounded-circle">
                </span>Kaohsiung
              </p>
              <p class="mb-32">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              <p><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
              </span><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
              </span>ALPHABOX+ Vito</p>
            </div>
          </li>
        </ul>
        <!-- Slider main container -->
        <div class="ai-swiper d-none d-md-block mb-40">
          <!-- Additional required wrapper -->
          <ul class="swiper-wrapper list-unstyled ps-0">
            <!-- Slides -->
            <li class="swiper-slide col-4">
              <div class="p-10 bg-primary-200 d-flex flex-column text-white h-100">
                <div class="flex-grow-1">
                  <p class="mb-8">Zona <span class="d-inline-block p-1 mx-2 bg-white rounded-circle">
                  </span>Taipei
                </p>
                <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p></div>
                <p><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
                </span><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
                </span>ALPHABOX+ Dianne</p>
              </div>
            </li>
            <li class="swiper-slide col-4">
              <div class="p-10 bg-white d-flex flex-column text-black h-100">
                <div class="flex-grow-1">
                  <p class="mb-8">Lin <span class="d-inline-block p-1 mx-2 bg-black rounded-circle">
                  </span>Chiayi
                </p>
                <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p></div>
                <p><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
                </span><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
                </span>ALPHABOX+ Felix</p>
              </div>
            </li>
            <li class="swiper-slide col-4">
              <div class="p-10 bg-primary-200 d-flex flex-column text-white h-100">
                <div class="flex-grow-1">
                  <p class="mb-8">云 <span class="d-inline-block p-1 mx-2 bg-white rounded-circle">
                  </span>Taipei
                </p>
                <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p></div>
                <p><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
                </span><span class="d-inline-block p-2 me-4 bg-white rounded-circle">
                </span>ALPHABOX+ Dianne</p>
              </div>
            </li>
            <li class="swiper-slide col-4">
              <div class="p-10 bg-white d-flex flex-column text-black h-100">
                <div class="flex-grow-1">
                  <p class="mb-8">Zichi <span class="d-inline-block p-1 mx-2 bg-black rounded-circle">
                  </span>Kaohsiung
                </p>
                <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p></div>
                <p><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
                </span><span class="d-inline-block p-2 me-4 bg-black rounded-circle">
                </span>ALPHABOX+ Vito</p>
              </div>
            </li>
          </ul>
          <div class="row align-items-center mt-12">
            <div class="col-8">
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col-4">SCROLL</div>
          </div>
        </div>
        <p class="d-none d-md-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
    </section>
    <!-- 聯絡我們 -->
    <section class="pt-15 pb-20 py-lg-36 contact-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="fs-3h fs-lg-3 fw-bold mb-3 mb-lg-5">聯絡我們</h2>
            <div class="mb-9 mb-lg-13h">
              <span class="p-1 p-md-1h me-2 rounded-circle bg-white d-inline-block"></span>
              <span class="d-inline-block line"></span>
            </div>
            <p>讓科技成為您的最佳夥伴</p>
            <p>立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-lg-7">
            <div>
              <span class="material-symbols-outlined mb-4 fs-icon">
                emergency
              </span>
              <form>
                <div class="form-floating mb-4">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label class="text-primary-100 fs-base fs-lg-6" for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-4">
                  <textarea class="form-control" id="floatingComments" placeholder="Comments"
                    style="height: 120px"></textarea>
                  <label class="text-primary-100 fs-base fs-lg-6" for="floatingComments">Comments</label>
                </div>
                <div class="row justify-content-end">
                  <div class="col-lg-7">
                    <button class="btn btn-primary-300 w-100">送出</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 角色卡片 -->
    <div class="row row-cols-2 row-cols-lg-4 g-0">
      <div class="col">
        <div class="intro-card" style="background-image: url(../assets/images/diane.png);">
          <p class="intro-card-number">1</p>
          <p class="intro-card-name">Diane</p>
          <div class="intro-card-description">
            <div>
              <p class="fw-bold">知識型</p>
              <p class="fw-normal">學術領導/知識分享/智能問答</p>
            </div>
            <a href="#" class="intro-card-link stretched-link">
              <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="intro-card" style="background-image: url(../assets/images/felix.png);">
          <p class="intro-card-number">2</p>
          <p class="intro-card-name">Felix</p>
          <div class="intro-card-description">
            <div>
              <p class="fw-bold">娛樂型</p>
              <p class="fw-normal">音樂播放/語音互動/遊戲陪伴</p>
            </div>
            <a href="#" class="intro-card-link stretched-link">
              <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="intro-card" style="background-image: url(../assets/images/karina.png);">
          <p class="intro-card-number">3</p>
          <p class="intro-card-name">Karina</p>
          <div class="intro-card-description">
            <div>
              <p class="fw-bold">生活型</p>
              <p class="fw-normal">健康提醒/日程安排/智能家居</p>
            </div>
            <a href="#" class="intro-card-link stretched-link">
              <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="intro-card" style="background-image: url(../assets/images/vito.png);">
          <p class="intro-card-number">4</p>
          <p class="intro-card-name">Vito</p>
          <div class="intro-card-description">
            <div>
              <p class="fw-bold">情感型</p>
              <p class="fw-normal">情感識別/心情分析/心靈支持</p>
            </div>

            <a href="#" class="intro-card-link stretched-link">
              <img src="../assets/images/line_end_arrow_notch.svg" alt="line_end_arrow">
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module">
      const swiper = new Swiper('.ai-swiper', {
        // Optional parameters
        mousewheel: true,
        slidesPerView: "3",
        spaceBetween: 24,
        scrollbar: {
          el: '.swiper-scrollbar',
          draggable: true
        },
      });
      const swiper2 = new Swiper('.what-section-swiper', {
        // Optional parameters
        autoplay: {
          delay: 5000,
        },
        navigation: {
          nextEl: ".sw-right",
          prevEl: ".sw-left",
        },
      });
      </script>
</body>

</html>